.bg {
  filter: blur(1px);
}

#game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scoreboard {
  margin-top: 150px;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  width: 80%;
  margin: 50px;
  gap: 30px;
}

#gameover-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

#modal-container {
  width: 300px;
  height: 210px;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameover-text {
  font-size: 1.75rem;
  margin-top: 40px;
  margin-bottom: 50px;
}

#gameover-button {
  padding: 15px 50px;
  font-size: 1rem;
}
